@{
    ViewData["Title"] = "Quoting Dojo";
}
<h1>Welcome to Coding Dojo</h1>
<form action="/result" method="post">
<p><h3>Your name: </h3><input type="text" name="Name"></p>
<p><h3>Your quote: </h3><textarea name = "Quote"></textarea></p>
<button>Add my quote!</button>
<a href="/result"><button>Skip to quotes!</button>
</form>
