<h1>Login To Your Account</h1>
<form action="/LoginUser" method="post">
<p><h3>Email: <input type="text" name="Email"></h3></p>
<p><h3>Password: <input type="text" name="Password"></h3></p>
<button type ="submit">Submit</button>
</form>

@ViewBag.LoginErrors